.intro {
    display: flex;
}

.comic_container {
    width: 1240px;
    height: max-content;
    margin-left: 360px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comic_stripe_container {
    background-color: rgb(174, 174, 174);
    width: 820px;
    height: 300px;
    display: grid;
    margin-top: 200px;
    grid-template-columns: repeat(3, 1fr);

    .comic_stripe_element {
        height: 220px;
        width: 220px;
        background-color: rgb(255, 255, 255);
        margin-left: 40px;
        margin-top: 40px;;
    }
}

.comic_stripe_container div:nth-child(3) {
    margin-right: 40px;
}

// QUERIES //

@media (max-width: 1599px) {
    .comic_container {
        margin-left: 150px;
    }
}

@media (max-width: 1000px) {
    .comic_stripe_container {
        grid-template-columns: 1fr;
        height: 820px;
        width: 300px;
        margin-bottom: 100px;
        margin-top: 100px;
        margin-left: -100px;

        .comic_stripe_element {
            margin-top: 30px;
        }
    }
}