.teasers {
    display: flex;

    .teaser_icon_container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .teaser_icon {
        font-size: 44px;
        cursor: pointer;
    }
}
