.charity {
    display: flex;

    .content_first {
        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    button {
        border-color: gold;
        border-radius: 14px;
        width: 164px;
        letter-spacing: 4px;
        padding: 10px;
        color: #fbcc00;
        background-color: rgba(6, 30, 44, 0.753);
        font-weight: bold;
        cursor: pointer;
    }
}

@media (max-width: 1573px) {
    .charity {
        .content_first {
            
        }
    }
}